.advantages__container {
  position: relative;

  padding: 0;
  margin-bottom: 81px;

  @include vp-1199 {
    padding: 0 45px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    padding: 0 15px;
    margin-bottom: 48px;
  }
}

.advantages__title {
  position: relative;

  margin: 0;

  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 46px;
  }

  @include vp-767 {
    margin-bottom: 19px;

    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Преимущества";
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    vertical-align: bottom;

    opacity: 0.03;

    @include vp-767 {
      bottom: 0;

      font-size: 26px;
      line-height: 26px;
    }
  }
}

.advantages__slider .advantages__slider-list {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding-left: 0;
  padding-top: 46px;
  padding-bottom: 50px;

  list-style: none;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    padding: 0;
  }

  @include vp-767 {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
}

.advantages__slider .advantages__slider-item {
  width: 380px;
  height: 100%;

  background-color: $color-default-white;

  @include vp-1199 {
    width: 324px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.advantages__slider-item:last-child {
  @include vp-1199 {
    grid-column: 1/3;
    width: 380px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
  }
}

.advantages__slider-buttons-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 4px;

  @include vp-1199 {
    display: none;
  }
}

.advantages__slider-button {
  position: static;

  width: 37px;
  height: 35px;
  padding: 0;
  margin: 0;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;

  &::after {
    display: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
    border: 1px solid $color-transparent;
  }
}

.advantages__slider-button.swiper-button-disabled {
  background-color: $color-nobel;
  opacity: 1;
}

.advantages__slider-button--next svg {
  transform: rotate(180deg);
}

.advantages__slider-button.swiper-button-lock {
  display: block;
}

.advantages__background-image-before-wrapper {
  position: absolute;
  top: -190px;
  left: 0;
  z-index: -2;

  width: 875px;
  height: 402px;

  @include vp-1199 {
    top: 147px;

    width: 753px;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__background-image-before-wrapper img {
  width: 875px;
  height: 402px;

  object-fit: cover;

  @include vp-1199 {
    width: 753px;
  }
}

.advantages__background-image-after-wrapper {
  position: absolute;
  top: -5px;;
  right: 0;
  z-index: -2;

  width: 462px;
  height: 263px;

  @include vp-1199 {
    top: 647px;

    width: 555px;
  }

  @include vp-767 {
    display: none;
  }
}

.advantages__background-image-after-wrapper img {
  width: 462px;
  height: 263px;

  object-fit: cover;

  @include vp-1199 {
    width: 555px;
  }
}
