.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  line-height: 16px;
  font-weight: 500;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;
  cursor: pointer;

  // transition: opacity $trans-default;

  // &--red {
  //   background-color: $color-torch-red;
  // }

  &:disabled {
    background-color: $color-nobel;
    border: 1px solid $color-transparent;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;

    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    outline: none;
  }

  @include active {
    color: $color-default-white;

    background-color: $color-resolution-blue;
    border: 1px solid $color-transparent;
  }
}
